body {
  font-family: "Nunito", sans-serif;
  color: #111;
  /* width: 100vw; */
}
/* nav barcss */
.navbar {
  padding: 0.5rem 4rem;
  height: 100px;
}
.navbar-brand img {
  width: 100px;
}
.closebtn.outer_close_btn {
  display: none;
}
.fix_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
  box-shadow: 0 2px 11px 1px rgb(0 0 0 / 75%);
}
.dropdown {
  border-radius: 0;
  border: 0;
}
.dropdown-menu {
  background: #0c73cc;
  border: 0;
  top: 80%;
  border-radius: 0px 0px 5px 5px;
}
.dropdown-item:hover {
  background: #085ca5;
  color: #fff;
}
.dropdown-menu a {
  color: #fff;
}
.navbar .nav-item .nav-link {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
}
.btn_block {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
button#register {
  width: 124px;
  height: 48px;
  background-color: #1d6771;
  border: 1px solid #1d6771;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
}

.navbar .nav-item .nav-link:hover {
  color: #1d6771;
}

