input.serch_block.bg-white.form-control.bg-light.border-0.small {
    width: 300px;
    border-left: 1px solid #b3adad !important;
}
.search-input {
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
}
.input-group-append button.btn.btn-primary {
    background: #1d6771 !important;
    box-shadow: 0px 5px 10px rgba(29, 125, 234, 0.2);
}
.form-control:focus {
    outline: none !important;
    box-shadow: unset;
}
select.form-control.border-0:focus {
    outline: none;
}
select.form-control.border-0 {
    width: auto;
}
.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 8rem;
    text-align: center;
}
.nav_images {
    margin-bottom: -10px;
}
.sidebar {
    width: 8rem;
    border: 1px solid #c9c9c9;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
}
.sidebar-brand-icon img {
    width: 100px;
    padding: 10px;
}
.session_heading {
    position: relative;
    font-size: 24px;
    line-height: 31.2px;
}
.session_heading:after {
    content: "";
    position: absolute;
    background: #42ffbb;
    width: 122px;
    height: 24px;
    margin: auto;
    z-index: -1;
    left: 0.8%;
    top: 37%;
}
.session_img {
    width: 350px;
}
.session_buy_subheading {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 20px;
    color: #666;
}
.session_buy_pera {
    font-size: 14px;
    line-height: 16px;
    color: #666;
    opacity: 0.54;
}
.session_buycta {
    width: 143px;
    height: 44px;
    border: 1px solid #1d6771;
    background: #1d6771;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 13px;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}
.profile_icon img {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
}
.border_bottom_dotted {
    border-width: 2px;
    border-bottom: 1px solid;
    border-bottom-style: dotted;
    margin: 15px 0px;
}
.name {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 16px;
    color: #333;
    text-align: center;
}
.class_section {
    font-family: "Nunito";
    color: #666;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 0px;
}
.profile {
    font-family: "Nunito";
    color: #666;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 15px;
}
.wallet_heading {
    font-size: 16px;
    font-family: "Roboto";
    line-height: 16px;
    color: #333;
    text-align: left;
}
.wallet_balance {
    font-size: 12px;
    line-height: 12px;
    font-family: "Roboto";
}
.wallet_balance strong {
    color: #333;
}
.balance {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}
.announce {
    font-size: 22px;
    font-family: "Roboto";
    color: #333;
    text-shadow: none;
}
.close_card {
    font-size: 21px;
    color: #dadada;
    opacity: 1;
    text-shadow: none;
}
.list_announce {
    margin: 25px 0px;
    width: 340px;
}
.list_announce span:nth-child(1) {
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 14px;
    color: #666;
}
.list_announce span:nth-child(2) {
    background: #1d6771;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px;
}
.cource_class_tile {
    font-size: 20px;
    color: #333;
    text-transform: capitalize;
}
.subject_img_block img {
    width: 100%;
    opacity: 0.7;
}
.subject_name p:nth-child(1) {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #666;
}
.subject_name p:nth-child(2) {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #999;
}
.border_div {
    margin: 0px 11px;
    border-left: 1px solid #c6c6c6;
    opacity: 0.6;
}
.seat_block p:nth-child(1) {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #999;
}
.seat_block p:nth-child(2) {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #0033ae;
}
.date_block p:nth-child(1) {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #999;
}
.date_block p:nth-child(2) {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #f59711;
}
.view_detail {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: underline;
    color: #333;
    padding-top: 17px;
}
.price_card {
    max-width: fit-content;
    background: #ed92fa;
    border-radius: 8px 0px 0px 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 24px;
    color: #ffffff;
    padding: 10px;
}
/* subject card border */
.subject1 {
    border: 2px solid #ed92fa;
    border-radius: 10px;
}
.subject2 {
    border: 2px solid #ff8a78;
    border-radius: 10px;
}
.subject3 {
    border: 2px solid #e99e68;
    border-radius: 10px;
}
.subject4 {
    border: 2px solid #58a1e5;
    border-radius: 10px;
}
.subject5 {
    border: 2px solid #a0ec71;
    border-radius: 10px;
}
.subject6 {
    border: 2px solid #74eac5;
    border-radius: 10px;
}
.subject7 {
    border: 2px solid #ff8a78;
    border-radius: 10px;
}
.subject8 {
    border: 2px solid #58a1e5;
    border-radius: 10px;
}
.price_bg1 {
    background: #ed92fa;
}
.price_bg2 {
    background: #ff8a78;
}
.price_bg3 {
    background: #e99e68;
}
.price_bg4 {
    background: #58a1e5;
}
.price_bg5 {
    background: #a0ec71;
}
.price_bg6 {
    background: #74eac5;
}
.price_bg7 {
    background: #ff8a78;
}
.price_bg8 {
    background: #58a1e5;
}
span.badge.badge-danger.badge-counter {
    position: absolute;
    transform: scale(0.7);
    transform-origin: top right;
    margin-top: -3px;
    left: 50px;
}
/* my session block css start */
.nav-link.tab_cta {
    border: none;
    background: none;
    color: #666;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.nav-link.tab_cta.active {
    border: none;
    background: none;
    color: #1d6771;
    border-bottom: 2px solid #1d6771;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.nav-link.tab_cta:hover {
    border: none;
    color: #1d6771;
}
.nav.nav-tabs {
    border-bottom: 0px solid #dddfeb;
}
.subject_card {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #999999;
}
.card_subject_title1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.card_subject_title2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #0033ae;
}
.card_subject_title3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #0ea47e;
}
.border-left.second_left_border {
    height: 50px;
}
.border-left.first_left_border {
    height: 50px;
}
.date_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #999999;
    text-align: center;
    margin-top: -25px;
    margin-left: 30px;
}
.card_cta .fa {
    font-size: 30px;
    color: #dddbdb;
    font-weight: 600;
}
.cource_done_card {
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
    border-radius: 4px;
}
.cource_done_card p:nth-child(1) {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}
.cource_done_card p:nth-child(2) {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #333333;
}
.circle_heading_section {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
}
.circle_pera_setion {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #333333;
    margin-bottom: 0;
}
.circle_link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #1d6771;
}
.profile_icon_card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: -30px;
    margin-top: -10px;
    margin-left: -10px;
}
.chat_block p:nth-child(1) {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #666666;
    margin-bottom: 10px;
}
.chat_block p:nth-child(2) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #999999;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.send_msg {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    color: #1d6771;
}
.send_msg:hover {
    color: #1d6771;
}
.chat_card {
    border-radius: 4px;
    height: 110px;
}
.chat_card_background1 {
    background: #e0fbf4;
}
.chat_card_background2 {
    background: #fdf5d2;
}
.chat_card_background2 {
    background: #f9dfe6;
}
.chat_card_background2 {
    background: #f2fec8;
}
.buy_card_section {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}
.display_card_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-align: left;
    padding: 8px;
}
.display_card_bg {
    background: #57afc3;
    border-radius: 4px 4px 0px 0px;
}

.display_card_body p:nth-child(1) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 5px;
}
.display_card_body p:nth-child(2) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 130%;
    color: #ffffff;
}
.display_card_body p:nth-child(3) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
}
.display_card_body {
    padding: 40px;
}
span.d_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #ffffff;
}
.d_title_val {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 130%;
    color: #ffffff;
}
/* my session block css end */
/* adminds css start */
.dashboard-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 130%;
    color: #333333;
}
.dashboard-title::after {
    content: "";
    position: absolute;
    background: #7592fe;
    width: 209px;
    height: 16px;
    margin: auto;
    z-index: -100;
    left: 2.8%;
    top: 36%;
}
.topbar .topbar-divider {
    border-right: none;
}
.card_body.display_card_body.card-1 {
    background: #ffc4a6;
    border-radius: 6px;
}
.card_body.display_card_body.card-2 {
    background: #81c5f6;
    border-radius: 6px;
}
.card_body.display_card_body.card-3 {
    background: #74dcd3;
    border-radius: 6px;
}
.card_body.display_card_body.card-4 {
    background: #ed92fa;
    border-radius: 6px;
}
.d_teacher {
    display: flex;
    justify-content: space-between;
}
.pop_val {
    display: flex;
    justify-content: space-between;
}
.pop_val p:nth-child(1) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
}
.pop_val p a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #666666;
}
.best_val {
    display: flex;
    justify-content: space-between;
}
.crt_val p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
}
.best_val p:nth-child(1) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
}
.best_val p a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #666666;
}
.d_card_val {
    border-radius: 8px 0px 0px 8px;
    border-left: 5px solid #1d7dea;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 70px;
}

.math_p p:nth-child(1) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 18px;
    color: #666666;
    margin: -3px 0px 5px 0px;
}
.math_p p:nth-child(2) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    align-items: center;
    color: #999999;
}
.v_course {
    border: 1px solid #1d6771;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 10px;
}
.v_course p a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #1d6771;
}
.profile_p p:nth-child(1) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #666666;
}
.profile_p p:nth-child(2) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    align-items: center;
    color: #999999;
    mix-blend-mode: normal;
    margin-top: -10px;
}
.card.mostly_progress {
    padding: 15px;
}
.card.mostly_progress .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #33bd9a;
}
.card.mostly_progress p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #33bd9a;
}
.cource_flex {
    display: flex;
}
.card.online_courses {
    border: 2px solid #ff6890;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px 20px;
    padding: 15px 5px;
    width: 150px;
}
.card.online_courses .title_no {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 130%;
    color: #ff6890;
}
.card.online_courses p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #ff6890;
    margin-top: 20px;
}
.card.offline_courses {
    border: 2px solid #f1ab00;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px 20px;
    padding: 15px 5px;
    width: 150px;
}
.card.offline_courses .title_no {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 130%;
    color: #f1ab00;
}
.card.offline_courses p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    align-items: center;
    color: #f1ab00;
    margin-top: 20px;
}
.manage_section {
    text-align: center;
    margin-left: 10px;
}
.rounded.sub_menu {
    border: 1px solid #1d6771;
    background: #1d6771;
}
.sub_menu_block {
    border: 1px solid #c9c9c9;
    margin: 10px 6px;
}
.side_bar.collapse.show {
    left: 115px;
    top: 10px;
    position: absolute;
    -webkit-animation: unset;
    animation: unset !important;
    bottom: 0;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #1d6771;
    color: #fff;
    text-align: center;
    font-weight: 700;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    text-align: center;
    font-weight: 600;
}
/* adminds css end */
@media only screen and (max-width: 768px) {
    .list_announce {
        width: 100%;
    }
    .fa.fa-star {
        color: #e4e4e4;
        font-size: 12px;
    }
    .sidebar.nav-item.side_bar.collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        -webkit-animation: none;
        animation: none;
    }
    .manage_section {
        text-align: center;
        margin-left: 0px;
        margin-top: 10px;
    }
}
