input.serch_block.bg-white.form-control.bg-light.border-0.small {
  width: 300px;
}

select.form-control.border-0:focus {
  outline: none;
}

select.form-control.border-0 {
  width: auto;
}

.sidebar .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 1rem;
  width: 8rem;
  text-align: center;
}

.navbar-search {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 50px;
}

.nav_border_line {
  border-right: 1px solid #e3e6f0 !important;
  height: 3rem;
  margin: auto 1rem;
  padding: 10px;
}

button.btn.btn-primary.search_cta {
  background: #1D6771;
  height: 37px;
  border-radius: 8px;
  margin-top: 6px;
}

.nav_images {
  margin-bottom: -10px;
}

.sidebar {
  width: 8rem;
  height: calc(100vh - 75px);
  z-index: 4;
  position: sticky;
  top: 0;
}

.topbar {
  position: fixed;
  z-index: 10;
  width: calc(90vw - -31px);
  background: #fff;
  display: flex;
  justify-content: space-around;
}

.sidebar-brand-icon img {
  width: 100px;
  padding: 10px;
}

.session_heading {
  position: relative;
  font-size: 24px;
  line-height: 31.2px;
}

.session_heading:after {
  content: "";
  position: absolute;
  background: #42ffbb;
  width: 122px;
  height: 24px;
  margin: auto;
  z-index: -1;
  left: 0.8%;
  top: 37%;
}

.dashboard_title {
  position: relative;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  color: #333333;
  padding: 0px 15px;
}

.dashboard_title:after {
  content: "";
  position: absolute;
  background: #42FFBB;
  width: 162px;
  height: 20px;
  margin: auto;
  z-index: -100;
  left: 0.8%;
  top: 34%;
}

.profile_icon img {
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 50%;
}

.border_bottom_dotted {
  border-width: 2px;
  border-bottom: 1px solid;
  border-bottom-style: dotted;
  margin: 15px 0px;
}

a.nav-link.tab_title.active {
  background: unset;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  color: #1D6771;
  border-bottom: 2px solid;
  border-radius: 0px;
  text-transform: capitalize;
  padding: 0px;
}

a.nav-link.tab_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #666666;
  text-transform: capitalize;
  padding: 0px;
  width: 85px
}

.nav-link.tab_cta {
  border: none;
  background: none;
  color: #666;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.nav-link.tab_cta.active {
  border: none;
  background: none;
  color: #1d6771;
  border-bottom: 2px solid #1d6771;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.nav-link.tab_cta:hover {
  border: none;
  color: #1d6771;
}

.nav.nav-tabs {
  border-bottom: 0px solid #dddfeb;
}

.subject_card {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #999999;
}

.border-left.second_left_border {
  height: 50px;
}

.subject_edit {
  display: flex;
  justify-content: space-between;
}

.card_left_border {
  border-radius: 8px 0px 0px 8px;
  border-left: 6px solid #1d7dea;
  padding: 14px;
  padding-bottom: 0px;
}

.subject {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #666666;
}

.sub_subject {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #999999;
}

.green_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #0EA47E;
}

.blue_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #517ADD;
}

.starttime_block {
  border-right: 1px solid #e6e6e6;
  padding: 0px 17px;
  height: 50px;
  vertical-align: middle;
}

.class_block {
  border-right: 1px solid #e6e6e6;
  padding: 0px 17px;
  height: 50px;
  vertical-align: middle;
}

.time_pera {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  align-items: center;
  color: #999999;
}

.subject_edit p {
  margin-bottom: 10px;
}

.border_left_color1 {
  border-left: 6px solid #1D7DEA;
}

.border_left_color2 {
  border-left: 6px solid #B248CD;
}

.border_left_color3 {
  border-left: 6px solid #A6C437;
}

.border_left_color4 {
  border-left: 6px solid #F3B740;
}

.add_class {
  text-align: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: capitalize;
  color: #1D6771;
  margin: 20px 0px;
}

/* session css start */

.session_heading h6 {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  color: #333333;
  padding: 25px;
}

/* table css start */

#sailorTableArea {
  max-height: 300px;
  overflow-x: auto;
  overflow-y: auto;
}

#sailorTable {
  white-space: normal;
}

#sailorTable tbody {
  display: block;
  height: 500px;
}

.dt_calander tbody {
  display: block;
  height: 500px;
  overflow: auto;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: unset;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}

.card_header .table-bordered td, .table-bordered th {
  border: 0px solid #dee2e6;
}

.card_heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  align-items: center;
  color: #333333;
}

.session_no {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #666666;
}

.session_date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #666666;
}

/* td.session_no {
  width: 25%;
} */

.table-bordered thead td, .table-bordered thead th {
  background-color: #ECF0F4;
}

#sailorTableArea {
  max-height: 500px;
  overflow-x: auto;
  overflow-y: auto;
}

.card_header tbody {
  display: block;
  /* overflow: auto; */
}

.right_section {
  margin-top: 10px;
}

/* table css end */

.session.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  padding-right: 30px;
}

.session.tooltip span.session.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 9;
  top: 26px;
  right: -48%;
  font-size: 12px
}

.session.tooltip:hover span.session.tooltiptext {
  visibility: visible;
}

.active_time.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.active_time.tooltip span.time-block.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #F1AB00;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 9;
  top: 26px;
  right: -48%;
  font-size: 12px
}

.active_time.tooltip:hover span.time-block.tooltiptext {
  visibility: visible;
}

/* session css end */

/* calander css start */

.dt_calander {
  display: block;
  border: 2px solid #c5c5c5;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  height: 300px;
}

.day_block p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.75px;
  color: #1D7DEA;
  margin-top: 10px;
  margin-bottom: 5px;
}

.day_block.date_p p {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.75px;
  color: #999999;
}

.day_block.date_p p.active {
  border: 1px solid #1D7DEA;
  background-color: #1D7DEA;
  border-radius: 50%;
  padding: 3px 5px;
  color: #fff;
}

.active_time {
  background: linear-gradient(0deg, #1D7DEA, #1D7DEA), #1D7DEA;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 12%);
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.dt_calander .day_block {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.dt_calander .table_detail table {
  border: 0.8px solid #999999;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.75px;
  color: #999999;
}

.dt_calander .table_detail tr {
  border-bottom: 0.8px solid #999999;
}

.dt_calander .table_detail td {
  border-left: 0.8px solid #999999;
  padding: 9px;
  text-align: center;
}

.dt_calander .table_detail td:nth-child(1) {
  border-left: 0px solid #999999;
}

.dt_calandertd .time_td {
  width: 80px;
}

.dt_calander .table_detail {
  padding: 0px 10px;
}

.dt_calander .table_detail tbody {
  height: 200px;
}

.month_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-top: -15px;
  color: #1D6771;
}

/* manage_class css start */

ul.nav.nav-pills.nav-fill.navtop.add_class_tab>.nav-link, .nav-fill .nav-item {
  flex: inherit;
  text-align: center;
}

.calander {
  flex-direction: row;
  justify-content: space-between;
}

.calander_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a.nav-link.tab_title.add_new_class {
  width: auto;
  margin: 0px 17px;
}

.bg_img {
  background-image: url(img/bgimg.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background: #E6E6E6;
  border: 3px solid #F1F1F1;
  box-sizing: border-box;
}

.dot.active {
  background: #72EC38;
}

.test_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.test_title_div {
  max-width: 150px;
}

.border_block {
  background: #FFFFFF;
  border-radius: 8px;
}

.card_bg1 {
  border: 1px solid #FFB2E6;
}

.card_bg2 {
  border: 1px solid #D972FF;
}

.card_bg3 {
  border: 1px solid #8447FF;
}

.card_bg4 {
  border: 1px solid #33BD9A;
}

.card_bg5 {
  border: 1px solid #FFDD42;
}

.card_bg6 {
  border: 1px solid #33BD9A;
}

.card_bg7 {
  border: 1px solid #FFB2E6;
}

.card_bg8 {
  border: 1px solid #D972FF;
}

.sub_pera {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #999999;
}

.sub_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.border_bottom1 {
  border-bottom: 1px solid #FFB2E6;
  margin-bottom: 20px;
  margin-top: 10px;
}

.border_bottom2 {
  border-bottom: 1px solid #D972FF;
  margin-bottom: 20px;
  margin-top: 10px;
}

.border_bottom3 {
  border-bottom: 1px solid #8447FF;
  margin-bottom: 20px;
  margin-top: 10px;
}

.border_bottom4 {
  border-bottom: 1px solid #33BD9A;
  margin-bottom: 20px;
  margin-top: 10px;
}

.border_bottom5 {
  border-bottom: 1px solid #FFDD42;
  margin-bottom: 20px;
  margin-top: 10px;
}

.border_bottom6 {
  border-bottom: 1px solid #33BD9A;
  margin-bottom: 20px;
  margin-top: 10px;
}

.border_bottom7 {
  border-bottom: 1px solid #FFB2E6;
  margin-bottom: 20px;
  margin-top: 10px;
}

.border_bottom8 {
  border-bottom: 1px solid #D972FF;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sellect_pera {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #666666;
  padding-right: 20px;
}

.price_no {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.book_sheet {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #F84EC1;
}

.font-color1 {
  color: #F84EC1;
}
.font-color2 {
  color: #D972FF;
}
.font-color3 {
  color: #8447FF;
}
.font-color4 {
  color: #33BD9A;
}
.font-color5 {
  color: #FFDD42;
}
.font-color6 {
  color: #33BD9A;
}
.font-color7 {
  color: #FFB2E6;
}
.font-color8 {
  color: #D972FF;
}

.subject_edit.view_block {
  border-radius: 0px 0px 8px 8px;
  padding: 10px 10px;
}

.border_line {
  position: relative;
}

.border_line:before {
  content: "";
  position: absolute;
  border-right: 1px solid #e6e6e6;
  right: -50px;
  top: 0px;
  height: 110px;
}

.view_details {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #1D6771;
}

.view_block_bg1 {
  background-color: rgba(255, 178, 230, 1);
  opacity: 0.8;
}

.view_block_bg2 {
  background-color: rgba(217, 114, 255, 1);
  opacity: 0.8;
}

.view_block_bg3 {
  background-color: rgba(132, 71, 255, 1);
  opacity: 0.8;
}

.view_block_bg4 {
  background-color: rgba(51, 189, 154, 1);
  opacity: 0.8;
}

.view_block_bg5 {
  background-color: rgba(255, 221, 66, 1);
  opacity: 0.8;
}

.view_block_bg6 {
  background-color: rgba(51, 189, 154, 1);
  opacity: 0.8;
}

.view_block_bg7 {
  background-color: rgba(255, 178, 230, 1);
  opacity: 0.8;
}

.view_block_bg8 {
  background-color: rgba(217, 114, 255, 1);
  opacity: 0.8;
}

.space_img {
  padding: 0px 10px;
}

/* Reset Select */

.filter_select select {
  outline: 0;
  box-shadow: none;
  background: #fff;
  border: 1px solid #B1B1B1;
}

/* Remove IE arrow */

.filter_select select::-ms-expand {
  display: none;
}

/* Custom Select */
.filter{
  margin: 11px 1px;
}
.filter_div {
  display: flex;
  justify-content: space-between;
}
.filter_select.select {
  position: relative;
  display: flex;
  width: 186px;
  height: 39px;
  line-height: 3;
  background: #fff;
  border-radius: .25em;
}

.filter_select select {
  flex: 1;
  padding: 0 .5em;
  color: #333;
  cursor: pointer;
}

/* Arrow */

.filter_select.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #1D6771;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
  height: 38px;
}

/* Transition */

.filter_select.select:hover::after {
  color: #f39c12;
}

/* manage_class css end */

@media only screen and (max-width: 768px) {
  .list_announce {
    width: 100%;
  }
  .dashboard_title {
    display: none;
  }
  .topbar {
    justify-content: space-between;
  }
  .subject_edit {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .time_pera {
    font-weight: 700;
    font-size: 11px;
    line-height: 22px;
  }
  .starttime_block {
    border-right: 1px solid #e6e6e6;
    padding: 0px 7px;
    height: 50px;
    vertical-align: middle;
  }
  .class_block {
    border-right: 1px solid #e6e6e6;
    padding: 0px 7px;
    height: 50px;
  }
  .class_mb {
    padding-left: 7px;
  }
  #sailorTable .card_heading {
    width: 100px;
  }
  ul.nav.nav-pills.nav-fill.navtop {
    width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
  }
  .tab-content {
    overflow: hidden;
  }
  .sidebar {
    width: 11rem;
    overflow: auto;
  }
  /* manage_class css star */
  .test_title_div {
    max-width: 100%;
  }
  .subject_edit.subject_flex {
    display: flex;
    justify-content: space-between;
  }
  .calander.d-flex {
    flex-direction: column;
    justify-content: flex-start;
   
  }
  .calander_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     margin-top: 25px;
  }
  .sellect_pera{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: inherit;
    color: #666666;
    padding-right: 0px; 
  }
  .card.shadow.border_block.subject_edit {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .border_line:before {
    content: "";
    position: absolute;
    border-right: 1px solid #e6e6e6;
    right: -20px;
    top: 0px;
    height: 110px;
  }
  /* manage_class css end */
}