input.serch_block.bg-white.form-control.bg-light.border-0.small {
    width: 300px;
}

select.form-control.border-0:focus {
    outline: none;
}

select.form-control.border-0 {
    width: auto;
}

.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 8rem;
    text-align: center;
}

.navbar-search {
    background: #ffffff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 4px;
    height: 50px;
}

.nav_border_line {
    border-right: 1px solid #e3e6f0 !important;
    height: 3rem;
    margin: auto 1rem;
    padding: 10px;
}

button.btn.btn-primary.search_cta {
    background: #1d6771;
    height: 37px;
    border-radius: 8px;
    margin-top: 6px;
}

.nav_images {
    margin-bottom: -10px;
}

.sidebar {
    width: 8rem;
    height: calc(100vh - 75px);
    z-index: 4;
    position: sticky;
    top: 0;
}

.topbar {
    position: fixed;
    z-index: 10;
    width: calc(90vw - -31px);
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.sidebar-brand-icon img {
    width: 100px;
    padding: 10px;
}

.session_heading {
    position: relative;
    font-size: 24px;
    line-height: 31.2px;
}

.session_heading:after {
    content: "";
    position: absolute;
    background: #42ffbb;
    width: 122px;
    height: 24px;
    margin: auto;
    z-index: -1;
    left: 0.8%;
    top: 37%;
}

.dashboard_title {
    position: relative;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 130%;
    color: #333333;
    padding: 0px 15px;
}

.dashboard_title:after {
    content: "";
    position: absolute;
    background: #42ffbb;
    width: 162px;
    height: 20px;
    margin: auto;
    z-index: -100;
    left: 0.8%;
    top: 34%;
}

.profile_icon img {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
}

.border_bottom_dotted {
    border-width: 2px;
    border-bottom: 1px solid;
    border-bottom-style: dotted;
    margin: 15px 0px;
}

a.nav-link.tab_title.active {
    background: unset;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    color: #1d6771;
    border-bottom: 2px solid;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 0px;
}

a.nav-link.tab_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #666666;
    text-transform: capitalize;
    padding: 0px;
    width: 85px;
}

.nav-link.tab_cta {
    border: none;
    background: none;
    color: #666;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.nav-link.tab_cta.active {
    border: none;
    background: none;
    color: #1d6771;
    border-bottom: 2px solid #1d6771;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.nav-link.tab_cta:hover {
    border: none;
    color: #1d6771;
}

.nav.nav-tabs {
    border-bottom: 0px solid #dddfeb;
}
