<link href="{{ asset('wa/common/css/header.css') }}" rel="stylesheet"></link>

/* circle animation start */
.img-container {
  background: url(childre-study.svg) fixed center/40% no-repeat;
}

/* circle animation start */
.bluelarge {
  animation: bluelarge 43s infinite;
}

.lightbluegrad {
  animation: lightbluegrad 32s infinite;
}

.pinkupper {
  animation: pinkupper 25s infinite;
}

.pinklower {
  animation: pinklower 50s infinite;
}

.yellowbig {
  animation: yellowbig 40s infinite;
}

.greenweird {
  animation: greenweird 33s infinite;
}

.skyblueright {
  animation: skyblueright 20s infinite;
}

.yellowsmall {
  animation: yellowsmall 38s infinite;
}

.darkbluetiny {
  animation: darkbluetiny 25s infinite;
}

@keyframes bluelarge {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(5%, 2%);
  }
}

@keyframes lightbluegrad {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(6%, -4%);
  }
}

@keyframes pinkupper {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-6%, 1%);
  }
}

@keyframes pinklower {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(10%, -19%);
  }
}

@keyframes yellowbig {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-2%, 7%);
  }
}

@keyframes greenweird {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(3%, 8%);
  }
}

@keyframes skyblueright {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(7%, 3%);
  }
}

@keyframes yellowsmall {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(1.5%, 9%);
  }
}

@keyframes darkbluetiny {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-4%, 7%);
  }
}

/* circle animation end */
/* search section start */
/* text box and button */
.search-here {
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 81%;
  height: 60px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px solid #1d6771;
  border-radius: 0.5em;
}

.search-icon-box {
  background: no-repeat center url(assets/img/search.svg);
  width: 10%;
  height: 100%;
}
.search-icon {
  height: 2rem;
  width: auto;
}

#search {
  width: 60%;
  height: 100%;
  background: #ffffff;
  border: none;
}

#search::placeholder {
  width: 152px;
  height: 18px;
  left: 30px;
  top: 21px;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  color: #999999;
}

#search:focus-within {
  font-family: Nunito, sans-serif;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: none;
  /* padding-left: 3%; */
}
.vertical-div {
  width: 2px;
  height: 70%;
  background-color: #b0aaaa;
  display: inline;
}
.teachers {
  width: 50%;
  height: 100%;
  font-family: Nunito, sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select {
  width: 90%;
  height: 100%;
  border: none;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  outline: 0;
  padding-left: 4%;
  background: #fff;
}
select:focus {
  border: none;
}
option {
  min-width: 100%;
  width: auto;
}

/* background wave */
.bottom img {
  position: absolute;
  width: 100%;
  bottom: 0%;
  height: 70%;
  z-index: -1;
}
/* step1 css start */
.howit_work_section {
  position: relative;
}
.howit_work_section:after {
  content: "";
  position: absolute;
  background-image: url(assets/img/Vector.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 165%;
  left: 0;
  top: -30%;
  background-size: 100% 100%;
  right: 0;
  z-index: -1;
}
.work_heading.text-center {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  text-transform: capitalize;
  position: relative;
}
.work_heading:before {
  content: "";
  position: absolute;
  width: 162px;
  height: 24px;
  margin: auto;
  z-index: -100;
  left: 50.8%;
  top: 37%;
  background: #33d2a1;
}
.left_image_block,
.right_image_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  padding: 0% 3%;
}
.left_image img {
  background-color: #fff;
  padding: 10px;
}
.right_image_block img {
  background-color: #fff;
  padding: 10px;
}
.left_image {
  padding-right: 5%;
}
.first_step {
  padding-left: 5%;
  padding-top: 3%;
}
.step_heading {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #0033ae;
}
.step_title {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  color: #111111;
}
.step-pera {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #666666;
}
/* step2 section */

.second_step {
  padding-right: 5%;
  padding-top: 3%;
}
.right_image {
  padding-left: 5%;
}
.step_heading {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #0033ae;
}
.step_title {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  color: #111111;
}
.step-pera {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #666666;
}
/* cource section */
section.card_section {
  margin-top: 20%;
  padding: 0% 3%;
}
.cource_heading {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
.cource_heading:before {
  content: "";
  position: absolute;
  width: 162px;
  height: 24px;
  margin: auto;
  z-index: -100;
  left: 51.8%;
  top: 37%;
  background: #ffc3b8;
}
/* gallery section */
.filter_box {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
}
.single-district {
  /* height: 55%; */
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 11px 1px rgb(0 0 0 / 30%);
}

.single-district.card1 {
  border: 1px solid #ed92fa;
  display: block;
}
.single-district.card2 {
  border: 1px solid #ce88f9;
  display: block;
}
.single-district.card3 {
  border: 1px solid #6c8f9b;
  display: block;
}
.single-district.card4 {
  border: 1px solid #74eac5;
  display: block;
}
.single-district.card5 {
  border: 1px solid #58a1e5;
  display: block;
}
.single-district.card6 {
  border: 1px solid #a0ec71;
  display: block;
}
.single-district.card7 {
  border: 1px solid #ff8a78;
  display: block;
}
.single-district.card8 {
  border: 1px solid #e99e68;
  display: block;
}
.single-district h3 {
  font-weight: 700;
}
.single-district a {
  display: block;
  padding: 15px;
}
.filter-button {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #1d6771;
}
.card_img {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 13px 13px 0px 0px;
  padding: 10px;
}
.card_img img {
  opacity: 0.7;
  width: 100%;
  /* height: 170px; */
}
.card_info p:nth-child(1) {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #111;
}
.card_info p:nth-child(2) {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #999;
}
.card_details {
  display: flex;
  justify-content: flex-start;
}
.seat_block p:nth-child(1) {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #999;
}
.seat_block p:nth-child(2) {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #0033ae;
}
.date_block p:nth-child(1) {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #999;
}
.date_block p:nth-child(2) {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #f59711;
}
.border_div {
  border-left: 1px solid #c6c6c6;
  opacity: 0.6;
}
.class_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #999;
}
.class_type {
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
span.online {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
span.dot {
  height: 10px;
  width: 10px;
  background-color: #72ec38;
  border-radius: 50%;
  display: inline-block;
}
span.dot-prime {
  height: 10px;
  width: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: inline-block;
}
.view_detail_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a.view_detail {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
}
a.price_card {
  max-width: fit-content;
  padding-left: 3%;
  padding-right: 3%;
  background: #ed92fa;
  border-radius: 8px 0px 0px 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 24px;
  color: #ffffff;
  height: 50px;
}
/* vedio section */
.vedio.block {
  margin-top: 3%;
  padding: 0% 3%;
}
.why_heading {
  font-family: Nunito;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
  position: relative;
}
.why_heading:before {
  content: "";
  position: absolute;
  width: 162px;
  height: 24px;
  margin: auto;
  z-index: -100;
  left: 50.8%;
  top: 37%;
  background: #33d2a1;
}
.vedio_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pera_vedio p:nth-child(1) {
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
  text-align: left;
  color: #111;
}
.pera_vedio p:nth-child(2) {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
.pera_vedio {
  padding-right: 5%;
  padding-top: 0%;
}
.join_btn_div {
  text-align: center;
}
.btn.join_btn {
  height: 51px;
  width: 200px;
  left: 619px;
  top: 3990px;
  border: 1px solid#1D6771;
  border-radius: 8px;
  background: #1d6771;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

/* form css */
section.footer_form {
  padding: 0% 3%;
  margin-top: 3%;
}
.form_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.form_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.form_image {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 16%);
  min-height: max-content;
  min-width: max-content;
  padding: 5%;
}
.connect_heading {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  color: #333;
}
form {
  margin: 2em 0;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1.5em;
  border: 0;

  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  background: #f2f2f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding: 12px;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
  letter-spacing: 0.05em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  padding-left: 10px;
  padding-top: 7px;
  background: #f2f2f2;
}
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
  * Show the placeholder when the input is focused.
  */
input:focus::-webkit-input-placeholder {
  opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  background: #333;
  width: fit-content;
  border: 1px solid #333;
  border-radius: 15px;
  font-size: 12px;
  color: #fff;
  margin-bottom: -2px;
  padding: 0 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.activecta {
  font-size: 40px;
}
.lisyt_no li {
  margin: 10px 0px;
}
.lisyt_no li a {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  color: #333;
}
.contect_us_block p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}
.splatter {
  position: absolute;
  z-index: -10;
  left: -46px;
  top: -80px;
}
.splatter img {
  width: 90%;
}
.man-stick {
  margin-top: 160px;
  z-index: -1;
}
.link_block_footer {
  margin-top: 290px;
}
.btn.submit {
  width: 143px;
  background: #1d6771;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 12%);
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
}
/* footer form end */
/* testimonial start */
.testimonial_heading {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
  position: relative;
}
.testimonial_heading:before {
  content: "";
  position: absolute;
  width: 372px;
  height: 24px;
  margin: auto;
  z-index: -100;
  left: 33.8%;
  top: 37%;
  background: #049dc5;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 70px;
  box-sizing: border-box;
  padding: 0px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  opacity: 0.4;
  border-radius: 100px;
}

.gallery-thumbs .swiper-slide img {
  border: 1px solid gray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
/* TESTIMONIAL  section */
.testimonial_card {
  text-align: center;
  padding: 75px 340px;
}
.name_block {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}
.sub_heading {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}
.pera {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 5px;
}

.swiper-container,
.swiper-wrapper {
  z-index: 0 !important;
}
.swiper-wrapper {
  position: relative;
}
.wrapper_test:after {
  content: "";
  position: absolute;
  width: 1182px;
  height: 24px;
  margin: auto;
  left: 0px;
  top: 7%;
  border-bottom: 3px solid #d7e9ff;
  z-index: -1;
  right: 0;
}
@media only screen and (max-width: 768px) {
  /* for navbar */
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar-brand img {
    width: 100px;
  }
  .navbar .nav-item .nav-link:hover {
    color: #fff;
  }
  .navbar-collapse {
    display: block;
    right: 0px;
    width: 299px;
    position: fixed;
    z-index: 9;
    top: 0px;
    padding: 50px 0px 53px;
    box-sizing: border-box;
    height: 440px;
    background-color: #1d6771;
    box-shadow: 0 2px 11px 1px rgb(0 0 0 / 75%);
  }
  .closebtn.outer_close_btn {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: -20px;
    width: 50px;
    text-align: center;
    background-color: #1d6771;
    border: 1px solid #1d6771;
    box-shadow: 0 2px 11px 1px rgb(0 0 0 / 75%);
    border-radius: 10px 0px;
    display: block;
  }
  ul.navbar-nav {
    text-align: right;
  }
  ul li.nav-item {
    border-bottom: 2px solid #fff;
    padding: 10px 20px;
  }
  .btn.btn_block {
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
  }
  button#register {
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
  }
  .navbar .nav-item .nav-link {
    text-decoration: none;
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
    padding-left: 60px;
  }
  .login_block {
    text-align: center;
  }
  .banner_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .banner_content_section {
    margin-top: 0px;
  }
  /* second block */
  .work_heading.text-center {
    font-size: 40px;
  }
  .work_heading:before {
    width: 130px;
    height: 24px;
  }

  .right_image img {
    width: 100%;
  }
  .left_image img {
    width: 100%;
  }
  .howit_work_section:after {
    content: "";
    position: relative;
  }
  .left_image_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 10%;
    padding: 0;
  }
  .right_image {
    padding: 0%;
  }
  .right_image_block {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 10%;
    padding: 0;
  }
  .first_step {
    padding-left: 0%;
  }
  .step_title {
    font-size: 25px;
    line-height: 25px;
  }
  .step-pera {
    font-size: 18px;
    line-height: 30px;
  }
  .cource_heading {
    font-size: 40px;
  }
  .filter-button {
    font-size: 18px;
  }
  .filter_tab_active {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    border-bottom: 5px solid #1d6771;
    color: #1d6771;
  }
  .filter-button:focus {
    outline: none;
  }
  /* vedio section */
  .why_heading {
    font-size: 40px;
  }
  .why_heading:before {
    width: 110px;
  }
  .vedio_section {
    display: flex;
    flex-direction: column-reverse;
  }
  iframe {
    width: 100%;
  }
  .pera_vedio p:nth-child(1) {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-top: 20px;
  }
  .pera_vedio p:nth-child(2) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .form_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .link_block_footer {
    margin-top: 50px;
    position: initial;
    top: 0;
  }
  .footer_block {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5em 2em;
    background-color: #1d6771;
  }
  .follow_us {
    margin-top: -30px;
    position: relative;
    left: -22px;
  }
  /* .testimonial */
  .testimonial_heading {
    font-size: 40px;
  }
  .testimonial_heading:before {
    content: "";
    position: absolute;
    width: 172px;
    height: 24px;
    margin: auto;
    z-index: -100;
    left: 23.8%;
    top: 65%;
    background: #33d2a1;
  }
  .swiper-wrapper:after {
    content: unset;
  }
  .testimonial_card {
    text-align: center;
    padding: 15px 0px;
    /* font-size: 14px; */
  }
  .pera {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 5px;
  }
}
